.mainPage {
    background: #000;
    font-family: 'Raleway', sans-serif;
    color:white;
}

.otherPages {
  background: #000;
  font-family: 'Roboto', sans-serif;
  color:white;
  padding: 0px;
  margin: 0px;
}

.navAndPosts {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  margin-top: 100px;
  left: 50%;
}

.link-margin {
  margin-right: 10px;
}

.posts {
  background: white;
  font-size: 14px;
  text-align: center;
}

.navbar-custom {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navbar-brand {
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 30px;
}
.navbar-item-center {
  display: inline-block;
}

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

.cardBackground {
    background: transparent;
    border-width: 1px;
    border-color: white;
    opacity: .7;
    border-radius: 20px;
    color: white;
}

.cardBackground:hover {

  background-image: linear-gradient(135deg,#8BC6EC, #9b9cad);  
  opacity: 1;
  border-color: transparent;
}

.bg-c-transparent {
  background: none;
  border-width: 1px;
  border-color: white;
  border-radius: 5px;
}
.dropdown-menu {
  background-color: transparent;
}

.dropdown-item {
  color:white;
}


.outline {
  color:transparent;
  text-shadow: #ffffff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

#mainContent {
  margin-top: 150px;
}

    /* The overlay effect with background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8); /* with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}


#messageButton {
    margin-top: 50px;
    border-radius: 20px;
    border-color: white;
    background: transparent;
    color: white;
    
}

.mailto {
    font-size: 25px;
    color: white;
}

#linkedin {
    color: #8BC6EC; 
    margin-top:50px;
    font-size: 40px;
    margin-left: 20px;
}

#gitHub {
    color: #8BC6EC;
    margin-top:50px;
    font-size: 40px;
    margin-left: 20px;
}

#skype {
    color: #8BC6EC;
    margin-top:50px;
    font-size: 40px;
    margin-left: 20px;
}

#macOSdd:hover {
  background-image: linear-gradient(135deg,#8BC6EC, #9b9cad);  
  color: white;
}

#iOSdd:hover {
  background-image: linear-gradient(135deg,#8BC6EC, #9b9cad); 
  color: white;
}

#WindowsFormsdd:hover {
  background-image: linear-gradient(135deg,#8BC6EC, #9b9cad);
  color: white;  
}

#WPFdd:hover {
  background-image: linear-gradient(135deg,#8BC6EC, #9b9cad);
  color: white;
}

#photoNikola {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dottedFont {
  font-family: 'Raleway Dots';font-size: 22px;
}

.fullFont {
  font-family: 'Raleway';font-size: 44px;
}